/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
    color: white;
    padding: 10px 80px;
}

nav .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.menu {
    cursor: pointer;
}

.menu-line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar ul li{
    list-style: none;
    color: gray;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(226, 221, 221);
    margin-right: 10px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-top: 5px;

    cursor: pointer;
}
.sidebar ul li:hover{
    background-color: rgb(199, 194, 194);
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: red;
    display: block;
    transition: 0.3s;
    margin-right: 20px;
    margin-top: 10px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    background-color: white;
    height: 8px;
    width: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styling */
.container {
    text-align: center;
    position: relative;
}

.container #table {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    margin-bottom: 20px;
    filter: grayscale(20%)brightness(50%)opacity(0.9);
}

.container .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    padding: 10px;
    width: 60%;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 16px;
}

#search-button {
    height: 43px;
    padding: 10px;
    margin-left: 5px;
    background-color: orangered;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#search-button img {
    width: 20px;
    height: 20px;
}

/* Category Grid */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 80px;
}

.categories h1{
    margin-left: 80px;
    font-size: 36px;
}
.categories hr{
    border: 2px solid orangered;
    width: 80px;
    margin-left: 80px;
}

/* Category Card Styling */
.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    transition: transform 0.3s ease;
    position: relative;
}

.category-card:hover {
    transform: scale(1.05);
}

/* Category Image */
.category-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Category Name */
.category-name {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 90px;
    background-color: orangered;
    color: white;
}

/* Meal Grid */
.meal-heading {
    grid-column: 1/-1;
    text-align: left;
    font-size: 2rem;
    border-bottom: 5px solid orangered;
    width: 70px;
}

.meal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
} 

/* Meal Card Styling */
.meal-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.meal-card:hover {
    transform: scale(1.05);
}

.meal-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.meal-card h3 {
    font-size: 18px;
    color: #333;
}

/* Meal Details Section */
.home h3{
    border: 1px solid orangered;
    padding: 5px;
    background-color: orangered;
    color: white;
    cursor: pointer;
}
.home div {
    text-align: left;
    width: 70px;
    margin-bottom: 30px;
    border: 4px solid orangered;
}
.disc {
    border: 1px solid orangered;
    display: grid;
    width: 1200px;
    margin: auto;
    padding: 10px;

}
.disc p {
    font-weight: bold;
}
.disc .discripHeading {
    color: orangered;
    display: block;
    font-weight: bold;
}

.meal-details {
    display: grid;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.detailMeal {
    background-color: white;
    border: 2px solid whitesmoke;
    padding: 5px;
}
.singleItem {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.textItem #source{
    font-weight: bold;
}

.textItem h2 {
    color: orangered;
}

.textItem hr {
    color: orangered;
}

.textItem .tag {
    border: 1px solid orangered;
    color: gray;
    padding: 5px;
}

.textItem b {
    margin-top: 20px;
}
.meal-heading{
    text-align: left;
    width: 70px;
    margin-bottom: 100px;
}

.meal-headingTwo{
    border-bottom: 5px solid orangered;
    width: 270px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.ingredients {
    background-color: orangered;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.ingredients ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
}

.ingredients ul li {
    list-style-type:none;
}

.ingredients span{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(56, 178, 226);
    color: white;
}

.measures ul {
    border: 1px solid rgb(223, 221, 221);
    padding: 20px;
}

.instructions p{
    white-space: pre-line;
}
.meal-details h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.meal-details img {
    width: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.meal-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.meal-details ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.meal-details ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.meal-details h3 {
    font-size: 22px;
    margin-bottom: 10px;
}



















@media (max-width: 1200px) {
    #body {
        grid-template-columns: repeat(4, 1fr); /* Adjust to 4 columns */
    }
}
@media (max-width: 900px) {
    #body {
        grid-template-columns: repeat(3, 1fr); /* Adjust to 3 columns */
    }
}
@media (max-width: 600px) {
    #body {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns */
    }
}
